WebApplication2.sln
AuditEFCore.sln
.vs/AuditEFCore/config/applicationhost.config
.vs/AuditEFCore/DesignTimeBuild/.dtbcache.v2
.vs/AuditEFCore/v17/.futdcache.v1
.vs/AuditEFCore/v17/.suo
AuditFramework/appsettings.json
AuditFramework/bin/Debug/net6.0/AuditFramework.dll
*.pdb
AuditFramework/obj/AuditFramework.csproj.nuget.dgspec.json
*.props
*.targets
*.cache
AuditFramework/obj/Debug/net6.0/AuditFramework.csproj.FileListAbsolute.txt
*.dll
*.editorconfig
WebApplication2/appsettings.json
*.user
WebApplication2/bin/Debug/net6.0/appsettings.json
WebApplication2/bin/Debug/net6.0/Audit.deps.json
*.exe
WebApplication2/bin/Debug/net6.0/Audit.runtimeconfig.json
WebApplication2/bin/Debug/net6.0/AuditApi.deps.json
WebApplication2/bin/Debug/net6.0/AuditApi.runtimeconfig.json
WebApplication2/bin/Debug/net6.0/AuditWeb.deps.json
WebApplication2/bin/Debug/net6.0/AuditWeb.runtimeconfig.json
WebApplication2/bin/Debug/net6.0/WebApplication2.deps.json
WebApplication2/bin/Debug/net6.0/WebApplication2.runtimeconfig.json
WebApplication2/obj/Audit.csproj.nuget.dgspec.json
WebApplication2/obj/AuditApi.csproj.nuget.dgspec.json
WebApplication2/obj/AuditWeb.csproj.nuget.dgspec.json
WebApplication2/obj/project.assets.json
*.sentinel
WebApplication2/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
AuditFramework/bin/Debug/net6.0/AuditFramework.deps.json
AuditFramework/obj/project.assets.json
AuditFramework/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
AuditFramework/obj/Debug/net6.0/AuditFramework.AssemblyInfo.cs
AuditFramework/obj/Debug/net6.0/AuditFramework.GlobalUsings.g.cs
WebApplication2/appsettings.Development.json
WebApplication2/obj/WebApplication2.csproj.nuget.dgspec.json
WebApplication2/obj/Debug/net6.0/Audit.AssemblyInfo.cs
WebApplication2/obj/Debug/net6.0/Audit.csproj.FileListAbsolute.txt
WebApplication2/obj/Debug/net6.0/Audit.GlobalUsings.g.cs
WebApplication2/obj/Debug/net6.0/Audit.MvcApplicationPartsAssemblyInfo.cs
WebApplication2/obj/Debug/net6.0/AuditApi.AssemblyInfo.cs
WebApplication2/obj/Debug/net6.0/AuditApi.csproj.CopyComplete
WebApplication2/obj/Debug/net6.0/AuditApi.csproj.FileListAbsolute.txt
WebApplication2/obj/Debug/net6.0/AuditApi.GlobalUsings.g.cs
WebApplication2/obj/Debug/net6.0/AuditApi.MvcApplicationPartsAssemblyInfo.cs
WebApplication2/obj/Debug/net6.0/AuditWeb.AssemblyInfo.cs
WebApplication2/obj/Debug/net6.0/AuditWeb.csproj.CopyComplete
WebApplication2/obj/Debug/net6.0/AuditWeb.csproj.FileListAbsolute.txt
WebApplication2/obj/Debug/net6.0/AuditWeb.GlobalUsings.g.cs
WebApplication2/obj/Debug/net6.0/AuditWeb.MvcApplicationPartsAssemblyInfo.cs
WebApplication2/obj/Debug/net6.0/staticwebassets.build.json
WebApplication2/obj/Debug/net6.0/WebApplication2.AssemblyInfo.cs
WebApplication2/obj/Debug/net6.0/WebApplication2.csproj.BuildWithSkipAnalyzers
WebApplication2/obj/Debug/net6.0/WebApplication2.csproj.CopyComplete
WebApplication2/obj/Debug/net6.0/WebApplication2.csproj.FileListAbsolute.txt
WebApplication2/obj/Debug/net6.0/WebApplication2.GlobalUsings.g.cs
WebApplication2/obj/Debug/net6.0/WebApplication2.MvcApplicationPartsAssemblyInfo.cs
